* {
  margin: 0;
  padding: 0;
}

body[data-aos-easing="new-easing"] [data-aos],
[data-aos][data-aos][data-aos-easing="new-easing"] {
  -webkit-transition-timing-function: cubic-bezier(0.54, 0.08, 0.76, 0.47);
  transition-timing-function: cubic-bezier(0.54, 0.08, 0.76, 0.47);
}
